<!DOCTYPE html>
<html lang="en" ng-app="accounting">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="bundle.js" defer></script>
</head>
<body class="page" ng-controller="employeeCtrl">
<div class="container">
        <div class="row">
           <h1>Choose the task:</h1>
           <select name="" id="" ng-options="task as task.title group by task.id for task in tasks" ng-model="task">
               <option value="" ng-disabled="true">Choose one</option>
           </select>

            <table class="table" ng-cloak>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
                </thead>
                <tr ng-repeat="employee in employees | picker: task.filter">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.salary}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>